<section class="about ">
 <div class='page-heading mx-auto' ><h4 class='text-center text-uppercase text-white'>About us</h4></div>

</section>

<section class="bg-white">
  <div class="container pt-3  ">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 py-2">
        <img src='../../assets/1.jpg' class='img-thumbnail'>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12 py-2">
        <h4 class='text-uppercase pt-2'><span class='bd-btm'>Who we are?</span></h4>
<p class='text-justify pt-3'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas magni magnam reprehenderit dicta impedit molestiae at praesentium ullam odio nihil placeat sapiente, officiis quisquam laborum nam quis! Tenetur, molestias necessitatibus!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum debitis quisquam facere suscipit, harum laborum omnis, aut iste a, et impedit nihil illo natus eligendi dolor autem expedita laboriosam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ut eius, iusto consequatur alias nostrum iste consequuntur delectus rerum corporis ullam dolore ex deserunt, accusantium amet dolor dignissimos atque cumque.</p>

      </div>

        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12 py-2">
            <h4 class='text-uppercase pt-2'><span class='bd-btm'>What we do?</span></h4>
  <p class='text-justify pt-3'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur rem necessitatibus ad culpa, dolores possimus facilis eum iure asperiores iusto, enim atque sint eos esse doloremque nemo sunt aperiam quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, odio dolorem distinctio ducimus perferendis maxime magni earum reiciendis itaque voluptatum deserunt aspernatur! Dolor minima vel a officiis, unde consequatur rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio maiores quae officiis repudiandae at, corrupti veritatis quasi voluptatibus error distinctio iste sequi quibusdam! Vitae dolorum cumque ipsa adipisci eum consequuntur.</p>

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 py-2">
            <img src='../../assets/1.jpg' class='img-thumbnail'>
          </div>
    </div>
  </div>
</section>
