/* You can add global styles to this file, and also import other style files */
/* Navbar Start */
body{
background-color: #eceff1
}
.head-nav{
  background-color: rgb(136, 36, 230);
  color: white;
  box-shadow: 0px -2px 20px rgba(136, 36, 230, 0.5);
}
.bg-blueviolet{
  background-color: blueviolet;
}
.head-nav .nav-link{
  color: white;
}
.text-bold{
  font-weight: bold;
}

.d{
  display: flex;

}
.p-home .img-fluid{
  width: 100%;
  height: 200px;
}
.slide img{
  max-height: 600px ;
  object-fit:cover;
}
.custom-cap{

  top: 40%;
  bottom: auto
}
.custom-cap p{
font-weight: bold;
}
.custom-cap h5{
  font-size: 28px;
  font-weight: bold;
}
.imgbg{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.815);
}
@media screen and (max-width:1024px){
  #nav{
    border-top: 1px solid white;
    margin-top: 1px;
  }

}
@media screen and (max-width:768px){
  #nav{
    border-top: 1px solid white;
    margin-top: 1px;
  }

}
/* Navbar End */
.img-1{
  background-color: black

}
[class^=col] {
  display: flex;
  flex-direction: column;
}

[class^=col] div {
  flex-grow: 1
}
.dropdown:hover .dropdown-menu{
  display: block !important;

}
.overlay {
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.divider1{
  border: 1px solid rgb(136, 36, 230);
  position: relative;
text-align: center;
margin-left: 30%;
margin-right: 30%;

}
.divider2{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid rgb(136, 36, 230);
  top: -10px;
  display:inline-block;
  vertical-align:middle;
  background-color: white;

}
@media (min-width: 768px) and (max-width: 979px) {
        .slide img{
         height:450px ;
          object-fit:cover;
        }
   }

    @media (max-width: 300px) {
      .slide img{
        height: 300px ;
        object-fit:cover;
      }

    }
  @media (max-width: 480px) {
    .slide img{
      height: 300px ;
      object-fit:cover;
    }
  }
