/* You can add global styles to this file, and also import other style files */
/* Navbar Start */
body{
background-color: #eceff1
}
.head-nav{
  background-color: white;
  color: rgb(136, 36, 230);
  /* box-shadow: 0px -4px 20px rgba(136, 36, 230, 0.5); */
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.76);
box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.76);
}
.bg-blueviolet{
  background-color: blueviolet;
}
.text-voilet{
  color: blueviolet;
}
.navbar-brand:hover{
  color: blueviolet;
}
.navbar-brand{
  font-weight: bold;
  font-size: 28px;
}
.actv{
  border-bottom: 3px solid rgb(136, 36, 230) !important;
}
.head-nav .nav-link{
  /* color: white; */

  transition: 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  color: rgb(136, 36, 230);
  border-bottom: 3px solid white;
  /* border-top: 3px solid white; */
  padding: 10px 0;
  margin: 0 10px;
  /* transition: all 5ms; */
}
.head-nav .nav-link:hover{


  border-bottom: 3px solid rgb(136, 36, 230);
  /* border-top: 3px solid rgb(136, 36, 230); */
  /* padding: 6px 0; */

}


.text-bold{
  font-weight: bold;
}

.d{
  display: flex;

}
.p-home .img-fluid{
  width: 100%;
  height: 200px;
}
.slide img{
  max-height: 600px ;
  object-fit:cover;
}
.custom-cap{

  top: 40%;
  bottom: auto
}
.custom-cap p{
font-weight: bold;
}
.custom-cap h5{
  font-size: 28px;
  font-weight: bold;
}
.imgbg{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.815);
}
@media screen and (max-width:1024px){
  #nav{
    border-top: 1px solid white;
    margin-top: 1px;
  }

}
@media screen and (max-width:768px){
  #nav{
    border-top: 1px solid white;
    margin-top: 1px;
  }

}
/* Navbar End */
.img-1{
  background-color: black

}
[class^=col] {
  display: flex;
  flex-direction: column;
}

[class^=col] div {
  flex-grow: 1
}
.dropdown:hover .dropdown-menu{
  display: block !important;

}
.overlay {
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.divider1{
  border: 1px solid rgb(136, 36, 230);
  position: relative;
text-align: center;
margin-left: 30%;
margin-right: 30%;

}
.tst-text{

}
.tst-b{
  height: 350px;
  color: white;
}
.tst-m{

    /* height: calc(100% - 51px); */
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('./assets/1.jpg');
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.divider2{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid rgb(136, 36, 230);
  top: -10px;
  display:inline-block;
  vertical-align:middle;
  background-color: white;

}
@media (min-width: 768px) and (max-width: 979px) {
        .slide img{
         height:450px ;
          object-fit:cover;
        }
   }

    @media (max-width: 300px) {
      .slide img{
        height: 300px ;
        object-fit:cover;
      }

    }
  @media (max-width: 480px) {
    .slide img{
      height: 300px ;
      object-fit:cover;
    }
  }
